Build
Build.bat
MANIFEST
MANIFEST.bak
META.*
MYMETA.*
Makefile
Makefile.old
README
_build/
blib/
inc/
pm_to_blib
t/data/roundtrip_autogen.yaml
share/PrecompiledParsers/Parse/RecDescent/DDL/SQLT/*.pm
/SQL-Translator-*.tar.*
*.swp
*~
.#*
*#
