[%# vim:ft=tt2
-%]
    [% INCLUDE 'uml-class-start.tt2' %]
      <dia:attribute name="attributes">
        [%- FOREACH attributes;
            INCLUDE "uml-attribute.tt2";
        END %]
      </dia:attribute>
      <dia:attribute name="operations"/>
      <dia:attribute name="template">
        <dia:boolean val="false"/>
      </dia:attribute>
      <dia:attribute name="templates"/>
    [% INCLUDE 'uml-class-end.tt2' %]
